<!DOCTYPE html>


	<html>
		
		<head>
			<title>trablr_login</title>
			<link rel='stylesheet' href='/stylesheets/style.css' />
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
			
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
			<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
			<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
			
			<meta charset="utf-8">
		</head>


		<body>
		
			<div class="row"> <!--main row-->

			<div class="col-sm-4"></div> <!--left side column gap-->
			
			<div class="col-sm-4"> <!--main column-->
				
				<br><br>
				<center><img src="trablr_signin.jpg" style="width:490px;height:70px;" align="middle"></center-->
				
				<br><br>
				<div class="panel panel-default">
				
					<div class="panel-heading">
						<!--div class="container"-->
							<ul class="nav nav-tabs" >
								<li class="active" style="width: 50%;font-size:auto;"><a data-toggle="tab" href="#signindiv"><span class="glyphicon glyphicon-circle-arrow-right"></span>
								&nbsp;&nbsp;Sign in</a></li>
								<li style="width: 50%;font-size:auto;"><a data-toggle="tab" href="#registerdiv"><span class="glyphicon glyphicon-plus-sign"></span>
								&nbsp;&nbsp;&nbsp;Register</a></li>
							</ul>
						<!--/div-->
					</div>
					
					<div class="panel-body" >
					<div class="tab-content">
					
						<div id="signindiv" class="tab-pane fade in active">
						<form class="form-horizontal" role="form">
						
							<div class="form-group usernameDiv">
								<div class="col-sm-12">
									<input type="text" class="form-control" id="inputUsername" placeholder="Email&#42;" >
								</div>
							</div>
							
							<div class="form-group usernameDiv">
								<div class="col-sm-12">
									<input type="password" class="form-control" id="inputsignPassword" placeholder="Password&#42;" >
								</div>
							</div>
							
							<div class="form-group ">
								<div class="col-sm-12">
									<button  class="btn btn-warning" style="display: block; width: 100%;font-size:auto;" ng-click="signinsubmit();"><strong>Sign in</strong></button>
								</div>
							</div>
							
						</form>
						</div>
					
						<div id="registerdiv" class="tab-pane fade">
						<form class="form-horizontal" role="form">
						
							<div class="form-group">
								<div class="col-sm-12">
									<input type="email" class="form-control" id="inputEmail" placeholder="Email&#42;" >
								</div>
							</div>
							
							
							<div class="form-group">
								<div class="col-sm-12">
									<input type="password" class="form-control" id="inputregPassword" placeholder="Password&#42;" >
								</div>
							</div>
													
							<div class="form-group">
								<div class="col-sm-6">
									<input type="text" class="form-control" id="inputFN" placeholder="First name&#42;"  style="font-size:auto;">
								</div>
								
								<div class="col-sm-6">
									<input type="text" class="form-control" id="inputLN" placeholder="Last name"  style="font-size:auto;">
								</div>
							</div>

	
							<div class="form-group">
								<div class="col-sm-12">
									<input type="number" class="form-control" id="inputContact" placeholder="Mobile phone (optional)"  input size="number">
								</div>
							</div>
							

							
							<div class="form-group">
								<div class="col-sm-12">
									<button  class="btn btn-warning" style="display: block; width: 100%;font-size:auto" ng-click="registersubmit();"><strong>Register</strong></button>
								</div>
							</div>
							
						</form>
						</div>
					
					</div> <!--tab-content div-->			
					</div> <!--panelbody-->
					
				</div> <!--panel panel-->
		    
			</div> <!--main column-->	
			</div> <!--main row-->
	
        </body>		
	
	</html>